.abaout_container {
    align-self: center;
    align-content: center;
}

.about_picture {
    min-width: 400px;
    max-width: 500px;
    min-height: 400px;
    margin-right: 50px;
}

.about_picture .img {
    max-width: 400px;
    max-height: 400px;
    margin-left: 20px;
}


.about_content {
    min-width: 300px;
    max-width: 400px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    background-color: var(--CustomPurple2);
    border-radius: 30px;
    padding: 0 20px;
}

.about_details {
    margin-top: 20px;
    height: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: var(--OffWhite);
}

.about_contact_list {
    min-height: 400px;
    min-width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left:30px;
    background-color: var(--CustomPurple2);
    border-radius: 30px;
}

.about_content span {
    color: var(--CustomPurple3);
    font-weight: 700;
}

.about_content .ac_description {
    background-color: var(--CustomBlack);
    color: var(--OffWhite);
    min-height: 150px;
    max-height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 30px 0px 0px 30px;
    overflow: auto;
}

