.menu_items .item {
    -webkit-border-radius: 50px 0px 0px 50px;
    -moz-border-radius: 50px 0px 0px 50px;
    border-radius: 50px 0px 0px 50px;
    height: 50px;
    width: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

.menu .menu_items .item p {
    margin-left: 15px;
}

.item {
    border: 2px solid transparent;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
}

.item:hover::after {transform :translate(0, 0)}

.item:hover {
    border: 2px solid transparent;
    color : var(--OffWhite);
    transform :scale(1.05);
    will-change: transform
}